@model IEnumerable<MVCModelApp.Models.ShowEmployee_And_Dept_VW>

@{
    ViewBag.Title = "Reports";
}

<div class="pull-right">
    <div class="btn-group ">
        <button type="button" class="btn btn-primary">Export To</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Excel", "ExportTo", new { ReportType = "Excel" })</li>
            <li>@Html.ActionLink("PDF", "ExportTo", new { ReportType = "PDF" })</li>
            <li>@Html.ActionLink("Word", "ExportTo", new { ReportType = "Word" })</li>
        </ul>
    </div>
</div>

<table class="table table-responsive table-bordered table-striped table-hover">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
       
        
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
       
      
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        
    </tr>
}

</table>
