@model IEnumerable<MVCModelApp.Models.TblLogin>



@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}


@if (TempData["Msg"] != null)
{ 
    <div class="alert alert-dismissable alert-info">
     <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["Msg"].ToString()
        
    </div>
}


<table class="table table-striped table-condensed" id="AdminTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LoginType)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                 
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>

                 <td>
                    @Html.DisplayFor(modelItem => item.LoginType)
                </td>
                
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "Admin", new { id=@item.LoginId})')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Admin", new { id=@item.LoginId})')"><i class="fa fa-trash fa-lg"></i></a>
                   
                    
                </td>
            </tr>
        }
    </tbody>
</table>