@model MVCModelApp.Models.TblLogin

@{
    ViewBag.Title = "Create";
    List<MVCModelApp.Models.Roles> Roles = new List<MVCModelApp.Models.Roles>();

    Roles.Add(new MVCModelApp.Models.Roles() { id = "User", Role = "User" });
    Roles.Add(new MVCModelApp.Models.Roles() { id = "Guest", Role = "Guest" });
}

 

<h2>Register</h2>

@if (TempData["Msg"] != null)
{ 
    <div class="alert alert-dismissable alert-info">
     <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["Msg"].ToString()
    </div>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

      
    
      <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.LoginName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.LoginName, null, new { @class = "text-danger" })
            </div>
        </div>

           <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
            </div>
        </div>
       
           <div class="form-group">
            @Html.LabelFor(model => model.LoginType, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                  @Html.DropDownList("LoginType", new SelectList(Roles,"id","Role"), new { @class = "form-control" })
               
                @Html.ValidationMessageFor(model => model.LoginType, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Create" class="btn btn-primary" /> 
                
            </div>
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to Login", "Index" ,"Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
